/* TermsConditions.css */
.terms-conditions {
    margin: 40px;
    font-family: 'Poppins', sans-serif;
    background-color: #f1f1f1; /* Lighter background color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #ff9800; /* Bright orange for emphasis */
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 600;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  h3 {
    color: #e68900; /* Slightly darker orange */
    margin-bottom: 10px;
    font-size: 1.4rem;
    font-weight: 600;
  }
  
  p {
    color: #333;
    font-size: 1.2rem;
    line-height: 1.6;
  }
  
  ul {
    list-style-type: disc;
    margin-left: 30px;
  }
  
  ul li {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  a {
    color: #ff9800;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  